html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.loading {
  margin: auto;
}

.loading_image {
  margin: auto;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  overflow: visible;
  box-sizing: content-box;
  height: 0;
}

pre {
  font-family: monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  border-bottom: none;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  color: #000;
  background-color: #ff0;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  display: table;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  color: inherit;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  height: 100%;
}

fieldset {
  margin: 0;
  padding: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
  border: 0;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
}

.choices {
  position: relative;
  margin-bottom: 24px;
  font-size: 16px;
}

.choices:focus {
  outline: none;
}

.choices:last-child {
  margin-bottom: 0;
}

.choices.is-disabled .choices__inner,
.choices.is-disabled .choices__input {
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #eaeaea;
}

.choices.is-disabled .choices__item {
  cursor: not-allowed;
}

.choices[data-type*=select-one] {
  cursor: pointer;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 7.5px;
}

.choices[data-type*=select-one] .choices__input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.choices[data-type*=select-one] .choices__button {
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 100%;
  height: 20px;
  margin-top: -10px;
  margin-right: 25px;
  padding: 0;
  opacity: .5;
  border-radius: 10em;
  background-image: url(../images/cross-inverse.svg);
  background-size: 8px;
}

.choices[data-type*=select-one] .choices__button:hover,
.choices[data-type*=select-one] .choices__button:focus {
  opacity: 1;
}

.choices[data-type*=select-one] .choices__button:focus {
  box-shadow: 0 0 0 2px #00bcd4;
}

.choices[data-type*=select-one]::after {
  position: absolute;
  top: 50%;
  right: 11.5px;
  width: 0;
  height: 0;
  margin-top: -2.5px;
  content: "";
  pointer-events: none;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.choices[data-type*=select-one].is-open::after {
  margin-top: -7.5px;
  border-color: transparent transparent #333 transparent;
}

.choices[data-type*=select-one][dir=rtl]::after {
  right: auto;
  left: 11.5px;
}

.choices[data-type*=select-one][dir=rtl] .choices__button {
  right: auto;
  left: 0;
  margin-right: 0;
  margin-left: 25px;
}

.choices[data-type*=select-multiple] .choices__inner,
.choices[data-type*=text] .choices__inner {
  cursor: text;
}

.choices[data-type*=select-multiple] .choices__button,
.choices[data-type*=text] .choices__button {
  position: relative;
  display: inline-block;
  width: 8px;
  margin-top: 0;
  margin-right: -4px;
  margin-bottom: 0;
  margin-left: 8px;
  padding-left: 16px;
  opacity: .75;
  border-left: 1px solid #008fa1;
  background-image: url(../images/cross.svg);
  background-size: 8px;
  line-height: 1;
}

.choices[data-type*=select-multiple] .choices__button:hover,
.choices[data-type*=select-multiple] .choices__button:focus,
.choices[data-type*=text] .choices__button:hover,
.choices[data-type*=text] .choices__button:focus {
  opacity: 1;
}

.choices__inner {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  min-height: 44px;
  padding: 7.5px 7.5px 3.75px;
  vertical-align: top;
  border: 1px solid #ddd;
  border-radius: 2.5px;
  background-color: #f9f9f9;
  font-size: 14px;
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border-color: #b7b7b7;
}

.is-open .choices__inner {
  border-radius: 2.5px 2.5px 0 0;
}

.is-flipped.is-open .choices__inner {
  border-radius: 0 0 2.5px 2.5px;
}

.choices__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.choices__list--single {
  display: inline-block;
  width: 100%;
  padding: 4px 16px 4px 4px;
}

[dir=rtl] .choices__list--single {
  padding-right: 4px;
  padding-left: 16px;
}

.choices__list--single .choices__item {
  width: 100%;
}

.choices__list--multiple {
  display: inline;
}

.choices__list--multiple .choices__item {
  display: inline-block;
  margin-right: 3.75px;
  margin-bottom: 3.75px;
  padding: 4px 10px;
  vertical-align: middle;
  word-break: break-all;
  color: #fff;
  border: 1px solid #00a5bb;
  border-radius: 20px;
  background-color: #00bcd4;
  font-size: 12px;
  font-weight: 500;
}

.choices__list--multiple .choices__item[data-deletable] {
  padding-right: 5px;
}

[dir=rtl] .choices__list--multiple .choices__item {
  margin-right: 0;
  margin-left: 3.75px;
}

.choices__list--multiple .choices__item.is-highlighted {
  border: 1px solid #008fa1;
  background-color: #00a5bb;
}

.is-disabled .choices__list--multiple .choices__item {
  border: 1px solid #919191;
  background-color: #aaa;
}

.choices__list--dropdown {
  position: absolute;
  z-index: 1;
  top: 100%;
  display: none;
  overflow: hidden;
  width: 100%;
  margin-top: -1px;
  word-break: break-all;
  border: 1px solid #ddd;
  border-bottom-right-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  background-color: #fff;
}

.choices__list--dropdown.is-active {
  display: block;
}

.is-open .choices__list--dropdown {
  border-color: #b7b7b7;
}

.is-flipped .choices__list--dropdown {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: -1px;
  border-radius: .25rem .25rem 0 0;
}

.choices__list--dropdown .choices__list {
  position: relative;
  overflow: auto;
  max-height: 300px;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.choices__list--dropdown .choices__item {
  position: relative;
  padding: 10px;
  font-size: 14px;
}

[dir=rtl] .choices__list--dropdown .choices__item {
  text-align: right;
}

@media (min-width: 640px) {
  .choices__list--dropdown .choices__item--selectable {
    padding-right: 100px;
  }

  .choices__list--dropdown .choices__item--selectable::after {
    position: absolute;
    top: 50%;
    right: 10px;
    content: attr(data-select-text);
    transform: translateY(-50%);
    opacity: 0;
    font-size: 12px;
  }

  [dir=rtl] .choices__list--dropdown .choices__item--selectable {
    padding-right: 10px;
    padding-left: 100px;
    text-align: right;
  }

  [dir=rtl] .choices__list--dropdown .choices__item--selectable::after {
    right: auto;
    left: 10px;
  }
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: #f2f2f2;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after {
  opacity: .5;
}

.choices__item {
  cursor: default;
}

.choices__item--selectable {
  cursor: pointer;
}

.choices__item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: .5;
}

.choices__heading {
  padding: 10px;
  color: gray;
  border-bottom: 1px solid #f7f7f7;
  font-size: 12px;
  font-weight: 600;
}

.choices__button {
  cursor: pointer;
  text-indent: -9999px;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.choices__button:focus {
  outline: none;
}

.choices__input {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  padding: 4px 0 4px 2px;
  vertical-align: baseline;
  border: 0;
  border-radius: 0;
  background-color: #f9f9f9;
  font-size: 14px;
}

.choices__input:focus {
  outline: 0;
}

[dir=rtl] .choices__input {
  padding-right: 2px;
  padding-left: 0;
}

.choices__placeholder {
  opacity: .5;
}

* {
  box-sizing: border-box;
}

.s007 {
  display: flex;
  justify-content: center;
  font-family: roboto, sans-serif;
}

.s007 form {
  width: 100%;
  max-width: 790px;
  margin: 0;
}

.s007 form .inner-form {
  width: 100%;
}

.s007 form .inner-form .input-field {
  position: relative;
}

.s007 form .inner-form .input-field input {
  display: block;
  width: 100%;
  height: 100%;
  height: 70px;
  padding: 10px 32px 10px 70px;
  color: #555;
  border: 0;
  border-radius: 3px;
  background: #fff;
  font-size: 18px;
}

.s007 form .inner-form .input-field input.placeholder {
  color: #999;
  font-size: 18px;
}

.s007 form .inner-form .input-field input:-moz-placeholder {
  color: #999;
  font-size: 18px;
}

.s007 form .inner-form .input-field input::-webkit-input-placeholder {
  color: #999;
  font-size: 18px;
}

.s007 form .inner-form .input-field input:hover,
.s007 form .inner-form .input-field input:focus {
  outline: 0;
  box-shadow: none;
}

.s007 form .inner-form .input-field .btn-search {
  min-width: 100px;
  height: 40px;
  padding: 0 15px;
  cursor: pointer;
  transition: all .2s ease-out, color .2s ease-out;
  white-space: nowrap;
  color: #fff;
  border: 0;
  border-radius: 3px;
  background: #57b846;
  font-size: 14px;
  font-weight: 700;
}

.s007 form .inner-form .input-field .btn-search:hover {
  background: #4ea63f;
}

.s007 form .inner-form .input-field .btn-delete {
  min-width: 100px;
  height: 40px;
  padding: 0 15px;
  cursor: pointer;
  transition: all .2s ease-out, color .2s ease-out;
  white-space: nowrap;
  color: #555;
  border: 0;
  border-radius: 3px;
  background: 0 0;
  font-size: 14px;
  font-weight: 700;
}

.s007 form .inner-form .input-field .btn-delete:hover {
  color: #000;
}

.s007 form .inner-form .basic-search {
  margin-bottom: 5px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
}

.s007 form .inner-form .basic-search .input-field {
  width: 100%;
}

.s007 form .inner-form .basic-search .input-field input {
  padding: 10px 110px 10px 70px;
}

.s007 form .inner-form .basic-search .input-field .icon-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  align-items: center;
  justify-content: flex-end;
  width: 60px;
  height: 100%;
  -ms-flex-align: center;
}

.s007 form .inner-form .basic-search .input-field .icon-wrap svg {
  width: 34px;
  height: 34px;
  fill: #ccc;
}

.s007 form .inner-form .basic-search .input-field .result-count {
  position: absolute;
  top: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  align-items: center;
  justify-content: flex-start;
  width: 110px;
  height: 100%;
  color: #555;
  font-size: 14px;
  font-weight: 700;
  -ms-flex-align: center;
}

.s007 form .inner-form .basic-search .input-field .result-count span {
  padding-right: 5px;
  color: #57b846;
}

.s007 form .inner-form .advance-search {
  padding: 40px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
}

.s007 form .inner-form .advance-search .desc {
  display: block;
  margin-bottom: 26px;
  color: #999;
  font-size: 15px;
}

.s007 form .inner-form .advance-search .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  -ms-flex-align: center;
}

.s007 form .inner-form .advance-search .row.second {
  margin-bottom: 46px;
}

.s007 form .inner-form .advance-search .row.third {
  margin-bottom: 0;
}

.s007 form .inner-form .advance-search .input-field {
  width: calc(33.3333% - 30px);
}

.s007 form .inner-form .advance-search .input-select {
  height: 40px;
}

.s007 form .inner-form .advance-search .choices__inner {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  padding-right: 30px;
  color: #fff;
  border: 0;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  background: 0 0;
  font-size: 14px;
  -ms-flex-align: center;
}

.s007 form .inner-form .advance-search .choices__inner .choices__list.choices__list--single {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  padding-top: 10px;
  -ms-flex-align: center;
}

.s007 form .inner-form .advance-search .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  opacity: 1;
  color: #888;
}

.s007 form .inner-form .advance-search .choices__inner .choices__list--single .choices__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  color: #555;
}

.s007 form .inner-form .advance-search .choices__list.choices__list--dropdown {
  margin-top: 2px;
  padding: 20px 30px;
  border: 0;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
}

.s007 form .inner-form .advance-search .choices__list.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
}

.s007 form .inner-form .advance-search .choices__list--dropdown .choices__item--selectable.is-highlighted {
  color: #57b846;
  background: #fff;
}

.s007 form .inner-form .advance-search .choices__list--dropdown .choices__item {
  min-height: 24px;
  color: #555;
}

.s007 form .inner-form .advance-search .choices[data-type*=select-one]::after {
  top: 10px;
  right: 0;
  width: 32px;
  height: 32px;
  margin: 0;
  transform: none;
  opacity: 1;
  border: 0;
  background-image: url(data:image/svg+xml;charset=UTF-8;base64,PHN2ZyBmaWxsPScjOTk5JyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0Jz48cGF0aCBkPSdNMTYuNTkgOC41OUwxMiAxMy4xNyA3LjQxIDguNTkgNiAxMGw2IDYgNi02eicvPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 18px 18px;
}

.s007 form .inner-form .advance-search .choices[data-type*=select-one] .choices__button {
  top: 10px;
  right: 0;
  display: none;
  width: 32px;
  height: 32px;
  margin: 0;
  transform: none;
  opacity: 1;
  background-image: url(data:image/svg+xml;charset=UTF-8;base64,PHN2ZyBmaWxsPScjNTdiODQ2JyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0Jz48cGF0aCBkPSdNMTIgMkM2LjQ4IDIgMiA2LjQ4IDIgMTJzNC40OCAxMCAxMCAxMCAxMC00LjQ4IDEwLTEwUzE3LjUyIDIgMTIgMnptLTIgMTVsLTUtNSAxLjQxLTEuNDFMMTAgMTQuMTdsNy41OS03LjU5TDE5IDhsLTkgOXonLz48L3N2Zz4=);
  background-position: right center;
  background-size: 16px 16px;
}

.s007 form .inner-form .advance-search .choices[data-type*=select-one].valid .choices__button {
  display: block;
}

.s007 form .inner-form .advance-search .choices[data-type*=select-one].valid .choices__button:hover {
  background-image: url(data:image/svg+xml;charset=UTF-8;base64,PHN2ZyBmaWxsPScjY2NjJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0Jz48cGF0aCBkPSdNMTIgMkM2LjQ3IDIgMiA2LjQ3IDIgMTJzNC40NyAxMCAxMCAxMCAxMC00LjQ3IDEwLTEwUzE3LjUzIDIgMTIgMnptNSAxMy41OUwxNS41OSAxNyAxMiAxMy40MSA4LjQxIDE3IDcgMTUuNTkgMTAuNTkgMTIgNyA4LjQxIDguNDEgNyAxMiAxMC41OSAxNS41OSA3IDE3IDguNDEgMTMuNDEgMTIgMTcgMTUuNTl6Jy8+PC9zdmc+);
}

.s007 form .inner-form .advance-search .choices[data-type*=select-one].valid::after {
  display: none;
}

.s007 form .inner-form .advance-search .choices[data-type*=select-one].is-open::after {
  background-image: url(data:image/svg+xml;charset=UTF-8;base64,PHN2ZyBmaWxsPScjOTk5JyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0Jz48cGF0aCBkPSdNMTIgOGwtNiA2IDEuNDEgMS40MUwxMiAxMC44M2w0LjU5IDQuNThMMTggMTR6Jy8+PC9zdmc+);
}

@media screen and (max-width: 767px) {
  .s007 form .inner-form .basic-search .input-field input {
    padding: 10px 110px 10px 60px;
  }

  .s007 form .inner-form .basic-search .input-field .icon-wrap {
    -ms-flex-pack: center;
    justify-content: center;
    width: 60px;
  }

  .s007 form .inner-form .basic-search .input-field .icon-wrap svg {
    width: 26px;
    height: 26px;
  }

  .s007 form .inner-form .advance-search .row {
    display: block;
  }

  .s007 form .inner-form .advance-search .input-field {
    width: 100%;
    margin-bottom: 20px;
  }
}
