#dialog {
  position: relative;
  width: 38%;
  margin: auto;
  padding: 23px;
  border: 1px;
  border-radius: 11px;
}

#dialog .action_packt {
  display: block;
  margin-bottom: 22px;
  padding: 10px;
  color: #b22485;
  border: 1px;
  border-radius: 2px;
  background-color: #f7dff5;
}
.prepare_message {
  margin: 2px 2px 20px;
  padding: 20px;
  color: darkblue;
  border: 1px solid;
  border-radius: 5px;
  background: #eee;
}
.action-buttons {
  margin-top: 43px;
  margin-bottom: 30px;
}
.action-buttons .finish-save {
  margin-right: 20px;
  padding: 10px 25px;
  text-decoration: none;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  background: slateblue;
}

.action-buttons .finish-delete {
  margin-right: 20px;
  padding: 10px 25px;
  text-decoration: none;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  background: red;
}

#multi-button {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-top: 36px;
}
.multi-ebook-create {
  min-width: 100px;
  height: 40px;
  padding: 0 15px;
  cursor: pointer;
  transition: all .2s ease-out,color .2s ease-out;
  white-space: nowrap;
  color: #fff;
  border: 0;
  border-radius: 3px;
  background: #57b846;
  font-size: 14px;
  font-weight: 700;
}
