@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap'; * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #ecececdb;
}

.card-list {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1250px;
  margin: 36px auto;
  padding: 20px;
  gap: 20px;
}

.card-list .card-item {
  padding: 26px;
  list-style: none;
  cursor: pointer;
  transition: border 0.5s ease;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);
}

.card-list .card-item:hover {
  border: 2px solid #000;
}

.card-list .card-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  aspect-ratio: 16/9;
}

.card-list span {
  display: inline-block;
  margin-top: 32px;
  padding: 8px 15px;
  border-radius: 50px;
  background: #f7dff5;
  font-size: 0.75rem;
  font-weight: 600;
}

.card-list .developer {
  color: #b22485;
  background-color: #f7dff5;
}

.card-list .designer {
  color: #2968a8;
  background-color: #d1e8ff;
}

.card-list .editor {
  color: #205c20;
  background-color: #d6f8d6;
}

.card-item {
  width: 25rem;
}

.card-item h3 {
  margin-top: 28px;
  color: #000;
  font-size: 1.438rem;
  font-weight: 600;
}

.card-item .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-top: 40px;
  transition: 0.2s ease;
  transform: rotate(-35deg);
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
}

.card-list .card-item:hover .arrow {
  color: #fff;
  background: #000;
}

@media (max-width: 1200px) {
  .card-list .card-item {
    padding: 15px;
  }
}

@media screen and (max-width: 980px) {
  .card-list {
    margin: 0 auto;
  }
  .card-item {
    width: auto !important;
  }
}

.checkbox {
  margin-bottom: 10px;
}
