<div class="s007">
  <form id="search-products" url="{{ content.url }}" icon="{{ content.icon }}">
    <div class="inner-form">
      <div class="basic-search">
        <div class="input-field">
          <div class="icon-wrap">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" width="20"
                 height="20" viewBox="0 0 20 20">
              <path
                d="M18.869 19.162l-5.943-6.484c1.339-1.401 2.075-3.233 2.075-5.178 0-2.003-0.78-3.887-2.197-5.303s-3.3-2.197-5.303-2.197-3.887 0.78-5.303 2.197-2.197 3.3-2.197 5.303 0.78 3.887 2.197 5.303 3.3 2.197 5.303 2.197c1.726 0 3.362-0.579 4.688-1.645l5.943 6.483c0.099 0.108 0.233 0.162 0.369 0.162 0.121 0 0.242-0.043 0.338-0.131 0.204-0.187 0.217-0.503 0.031-0.706zM1 7.5c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5-2.916 6.5-6.5 6.5-6.5-2.916-6.5-6.5z"></path>
            </svg>
          </div>
          <input id="search" name="title" type="text" placeholder="Search...">
          <div class="result-count">
            <span id="total">{{ content.total }} </span>results
          </div>
        </div>
      </div>
      <div class="advance-search">
        <span class="desc">Advanced Search</span>
        <div class="row">
          <div class="input-field">
            <div class="input-select">
              <select data-trigger="" name="type">
                <option placeholder="" value="">PRODUCT TYPE</option>
                <option value="book">Book</option>
                <option value="video">Videos</option>
              </select>
            </div>
          </div>
          <div class="input-field">
            <div class="input-select" id="limits">
              <select data-trigger="" name="limit">
                <option placeholder="" value="">LIMIT</option>
                {% for i in 1..100 %}
                  <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="input-field">
            <div class="input-select" id="pages">
              <select data-trigger="" name="page">
                <option placeholder="" value="">PAGE</option>
                {% for i in 1..content.total_page %}
                  <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="row second">
          <div class="input-field">
            <div class="input-select">
              <select data-trigger="" name="orderby">
                <option placeholder="" value="">ORDER BY</option>
                <option value="product_type">Product type</option>
                <option value="title">Title</option>
                <option value="published_from">Published from</option>
                <option value="language">Language</option>
              </select>
            </div>
          </div>
{#          <div class="input-field">#}
{#            <div class="input-select">#}
{#              <select data-trigger="" name="choices-single-defaul">#}
{#                <option placeholder="" value="">TIME</option>#}
{#                <option>THIS WEEK</option>#}
{#                <option>SUBJECT B</option>#}
{#                <option>SUBJECT C</option>#}
{#              </select>#}
{#            </div>#}
{#          </div>#}
{#          <div class="input-field">#}
{#            <div class="input-select">#}
{#              <select data-trigger="" name="choices-single-defaul">#}
{#                <option placeholder="" value="">TYPE</option>#}
{#                <option>TYPE</option>#}
{#                <option>SUBJECT B</option>#}
{#                <option>SUBJECT C</option>#}
{#              </select>#}
{#            </div>#}
{#          </div>#}
        </div>
        <div class="row third">
          <div class="input-field">
            <button class="btn-search">Search</button>
            <button style="display: none;" class="btn-delete" id="delete">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div id="multi-button"></div>
<div id="products-cards" class="card-list">
  {% for product in content.products %}
  <a href="#" class="card-item">
    <input type="checkbox" value="{{ product.product_id }}" class="checkbox">
    <img src="{{ product.thumbnail }}" alt="">
    <span class="developer">{{ product.author }}</span>
    <span class="developer">{{ product.date }}</span>
    <span class="developer">{{ product.product_id }}</span>
    <span class="developer">{{ product.type }}</span>
    <h3>{{ product.product_name }}</h3>
    <div class="arrow" onclick="openingModal(`{{ product.product_id }}`, `{{ product.product_name|e }}`, `{{ product.description|e }}`)">
      <i class="fas fa-arrow-right card-icon"></i>
    </div>
  </a>
  {% endfor %}
</div>
<dialog id="dialog">
  <h2></h2>
  <p></p>
  <div id="actions-ebook">

  </div>
  <button url="{{ content.create_url }}" icon="{{ content.create }}" type="button" id="create-action" class="action_packt">Create Node</button>
  <button onclick="window.dialog.close();" aria-label="close" class="x">❌</button>
</dialog>
