{% for product in content.products %}
  <a href="#" class="card-item">
    <input type="checkbox" value="{{ product.product_id }}" class="checkbox">
    <img src="{{ product.thumbnail }}" alt="">
    <span class="developer">{{ product.author }}</span>
    <span class="developer">{{ product.date }}</span>
    <span class="developer">{{ product.product_id }}</span>
    <span class="developer">{{ product.type }}</span>
    <h3>{{ product.product_name }}</h3>
    <div class="arrow" onclick="openingModal(`{{ product.product_id }}`, `{{ product.product_name|e }}`, `{{ product.description|e }}`)">
      <i class="fas fa-arrow-right card-icon"></i>
    </div>
  </a>
{% endfor %}
